<%- include('../partials/header') %>

    <h1>Edit Cat Entry</h1>

    <div class="form-content">
        <div>
            <form action="/cats/<%= cat._id %>?_method=put" method="POST">
                <div>
                <label for="imgUrl">
                    <b>Link to cat photo:</b>
                    <input type="url" name="imgUrl">
                </label>
                </div>
                <div>
                    <label for="name">
                        <b>Name:</b>
                        <input type="text" name="name" value="<%= cat.name %>">
                    </label>
                </div>
                <div>
                    <label for="sex">
                        <b>Sex:</b>
                        <input type="text" name="sex" value="<%= cat.sex %>">
                    </label>
                </div>
                <div>
                    <label for="age">
                        <b>Age:</b>
                        <input type="number" name="age" value="<%= cat.age %>">
                    </label>
                </div>
                <div>
                    <label for="breed">
                        <b>Breed:</b>
                        <input type="text" name="breed" value="<%= cat.breed %>">
                    </label>
                </div>
                <div>
                    <label for="health">
                        <b>Health Condition:</b>
                        <input type="text" size="50" name="health" value="<%= cat.health %>">
                    </label>
                </div>
                <div>
                    <label for="adoptionStatus">
                        <b>Adoption Status:</b>
                        <input type="text" name="adoptionStatus" value="<%= cat.adoptionStatus %>">
                    </label>
                </div>
                <input type="submit" value="Update Cat">
            </form>
        </div>
        <script>
            var loadFile = function (event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>

        <%- include('../partials/footer') %>