<%- include('../partials/header') %>

    <div class="main-content">

        <div class="catImage"
            style="background-image: url('<%= cat.imgUrl %>'); max-width: 230px; min-height: 230px; background-size: cover;">
        </div>
        <h1>
            <%= cat.name %>
        </h1>
        <div class="catInfo">
            <div>
                <b>ID:</b>
                <%= cat._id %>
            </div>
            <div>
                <b>Name:</b>
                <%= cat.name %>
            </div>
            <div>
                <b>Sex:</b>
                <%= cat.sex %>
            </div>
            <div>
                <b>Age:</b>
                <%= cat.age %>
            </div>
            <div>
                <b>Breed:</b>
                <%= cat.breed %>
            </div>
            <div>
                <b>Health Condition:</b>
                <%= cat.health %>
            </div>
            <div>
                <b>Adoption Status:</b>
                <%= cat.adoptionStatus %>
            </div>
        </div>

        <div class="editCatLink">
            <a href="/cats/<%= cat._id %>/edit ">Edit Cat Entry</a>
        </div>
        <form method="POST" action="/cats/<%= cat._id %>?_method=DELETE">
            <button type="submit">Delete Cat Entry</button>
        </form>
        
        <div>
            <h3>Applicants for this cat:<%= applicants.length %>
            </h3>
            <% applicants.forEach(function(applicant) { %>
                <div>
                    <b>Name:</b>
                    <%= applicant.name %>
                </div>
                <div>
                    <b>Age:</b>
                    <%= applicant.age %>
                </div>
                <div>
                    <b>Address:</b>
                    <%= applicant.address %>
                </div>
                <div>
                    <b>Meets housing requirements:</b>
                    <%= applicant.homereq %>
                </div>
                <div>
                    <b>Meets care requirements:</b>
                    <%= applicant.healthreq %>
                </div>
                <form method="POST" action="/cats/<%= cat._id %>/applicant/<%= applicant._id%>?_method=DELETE">
                    <button type="submit">Delete Applicant</button>
                </form>
                <% }); %>
        </div>
        <div class="linkAlign">
            <div class="catLink">
                <a href="/cats/<%= cat._id %>/adopt/new">Adopt Me!</a>
            </div>
            <div class="catLink">
                <a href="/cats/">Back to main page</a>
            </div>
        </div>
    </div>

    <%- include('../partials/header') %>