<%- include('../partials/header') %>

<div>
    <h1>This is where all the cats up for adoption will be displayed</h1>
</div>

<tbody>
    
    <% cats.forEach(function(cat) { %>
        <div class="eachCat">
        <tr>
            <td>
                <%= cat._id %> 
            </td>
            <td>
                <%= cat.name %>
            </td>
            <td>
                <%= cat.sex %>
            </td>
            <td>
                <%= cat.age %>
            </td>
            <td>
                <%= cat.breed %>
            </td>
            <td>
                <%= cat.healthCondition %> 
            </td>
            <td>
                <%= cat.adoptionStatus %> 
            </td>
        </tr>
        <tr>
            <div id="meetCat">
                <a href="/cats/<%= cat._id %> ">Meet Me!</a>
            </div>
        </tr>
        <% }); %>
    </div>
    <div id="addCat">
        <a href="/cats/new">For Admins only!</a>
    </div>
</tbody>
    <!-- <img src=""><img 
     src=""><img 
     src="">
<img src=""><img 
     src=""><img 
     src="">
<img src=""><img 
     src=""><img 
     src="">
</body> -->

<%- include('../partials/footer') %>