<h2>Meet <%= cat.name %></h2>

<section>
    <div class="catImage" style="background-image: url('<%= cat.imgUrl %>'); max-width: 250px; min-height: 250px; background-size: contain;">
    </div>
    <div>
        ID: <%= cat._id %> 
    </div>
    <div>
        Name: <%= cat.name %> 
    </div>
    <div>
        Sex: <%= cat.sex %> 
    </div>
    <div>
        Age: <%= cat.age %> 
    </div>
    <div>
        Breed: <%= cat.breed %> 
    </div>
    <div>
        Health Condition: <%= cat.health %> 
    </div>
    <div>
        Adoption Status: <%= cat.adoptionStatus %> 
    </div>
    <div>
        <a href="/cats/<%= cat._id %>/edit ">Edit Cat Entry</a>
    </div>
    <form method="POST" action="/cats/<%= cat._id %>?_method=DELETE">
        <button type="submit">Delete Cat Entry</button>
    </form>
    <div>
        Applicants for this cat:
        <%= applicants.length %>
        <% applicants.forEach(function(applicant) { %>
            <div>
                Name: <%= applicant.name %>
            </div>
            <div>
                Age: <%= applicant.age %>
            </div>
            <div>
                Address: <%= applicant.address %>
            </div>
            <div>
                Meets housing requirements: <%= applicant.homereq %>
            </div>
            <div>
                Meets care requirements: <%= applicant.healthreq %>
            </div>
            <form method="POST" action="/cats/<%= cat._id %>/applicant/<%= applicant._id%>?_method=DELETE">
                <button type="submit">Delete Applicant</button>
            </form>
        <% }); %>
    </div>
</section>

<div id="adoptCat">
    <a href="/cats/<%= cat._id %>/adopt/new">Adopt Me!</a>
    <a href="/cats/">Back to main page</a>
</div>