<%- include('../partials/header') %>

<div>
    <h1>Meet our kitties!</h1>
</div>

<tbody>
    
    <% cats.forEach(function(cat) { %>
        <div class="eachCat">
        <tr>
            <td>
                ID: <%= cat._id %> 
            </td>
            <td>
                Name: <%= cat.name %>
            </td>
            <td>
                Sex: <%= cat.sex %>
            </td>
            <td>
                Age: <%= cat.age %>
            </td>
            <td>
                Breed: <%= cat.breed %>
            </td>
            <td>
                Health Condition: <%= cat.health %> 
            </td>
            <td>
                Adoption status: <%= cat.adoptionStatus %> 
            </td>
        </tr>
        <tr>
            <div id="meetCat">
                <a href="/cats/<%= cat._id %> ">Meet Me!</a>
            </div>
        </tr>
        <% }); %>
    </div>
    <div id="addCat">
        <a href="/cats/new">For Admins only!</a>
    </div>
</tbody>
    <!-- <img src=""><img 
     src=""><img 
     src="">
<img src=""><img 
     src=""><img 
     src="">
<img src=""><img 
     src=""><img 
     src="">
</body> -->

<%- include('../partials/footer') %>