<%- include('../partials/header') %>

    <div class="mainCatPage">
        <div>
            <h1>Meet our kitties!</h1>
        </div>
        <div class="allCats">
            <% cats.forEach(function(cat) { %>
                <div class="eachCat">
                    <div>
                        <b>ID:</b>
                        <%= cat._id %>
                    </div>
                    <div>
                        <b>Name:</b>
                        <%= cat.name %>
                    </div>
                    <div>
                        <b>Sex:</b>
                        <%= cat.sex %>
                    </div>
                    <div>
                        <b>Age:</b>
                        <%= cat.age %>
                    </div>
                    <div>
                        <b>Breed:</b>
                        <%= cat.breed %>
                    </div>
                    <div>
                        <b>Adoption status:</b>
                        <%= cat.adoptionStatus %>
                    </div>
                    <div class="meetCat">
                        <a href="/cats/<%= cat._id %> ">Meet Me!</a>
                    </div>
                </div>
                <% }); %>
        </div>

        <div id="addCat">
            <a href="/cats/new">Admins only!</a>
        </div>
    </div>

<%- include('../partials/footer') %>