<h2>This is where our single kitty information shows up =)</h2>

<section>
    <div>
        Photo:
    </div>
    <div>
        ID: <%= cat._id %> 
    </div>
    <div>
        Name: <%= cat.name %> 
    </div>
    <div>
        Sex: <%= cat.sex %> 
    </div>
    <div>
        Breed: <%= cat.breed %> 
    </div>
    <div>
        Health Condition: <%= cat.healthCondition %> 
    </div>
    <div>
        Adoption Status: <%= cat.adoptionStatus %> 
    </div>
    <form method="POST" action="/cats/<%= cat._id %>?_method=PUT">
        <button type="submit">Update Cat Entry</button>
    </form>
    <form method="POST" action="/cats/<%= cat._id %>?_method=DELETE">
        <button type="submit">Delete Cat Entry</button>
    </form>
    <div>
        Applicants for this cat:
        <%= applicants.length %>
        <% applicants.forEach(function(applicant) { %>
            <div>
                <%= applicant.name %>
            </div>
            <div>
                <%= applicant.age %>
            </div>
            <div>
                <%= applicant.address %>
            </div>
            <div>
                Meets housing requirements: <%= applicant.homereq %>
            </div>
            <div>
                Meets care requirements: <%= applicant.healthreq %>
            </div>
            <form method="POST" action="/cats/<%= cat._id %>/applicant/<%= applicant._id%>?_method=DELETE">
                <button type="submit">Delete Applicant</button>
            </form>
        <% }); %>
    </div>
</section>

<div id="adoptCat">
    <a href="/cats/<%= cat._id %>/adopt/new">Adopt Me!</a>
</div>