<%- include('../partials/header') %>

<div>
    <h1>This is where all the cats up for adoption will be displayed</h1>
</div>

<tbody>
    <!-- <div class="eachCat"></div> -->
    <% cats.forEach(function(cat) { %>
    
        <tr>
            <td>
                <% cat._id %> 
            </td>
            <td>
                <%= cat.name %>
            </td>
            <td>
                <%= cat.sex %>
            </td>
            <td>
                <%= cat.age %>
            </td>
            <td>
                <%= cat.breed %>
            </td>
            <td>
                <%= cat.healthCondition %> 
            </td>
            <td>
                <%= cat.adoptionStatus %> 
            </td>
        </tr>
        <% }); %>

        <div id="meetCat">
            <a href="/cats/:id">Meet Me!</a>
        </div>
    <!-- </div> -->
</tbody>
    <!-- <img src=""><img 
     src=""><img 
     src="">
<img src=""><img 
     src=""><img 
     src="">
<img src=""><img 
     src=""><img 
     src="">
</body> -->

<%- include('../partials/footer') %>